html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'PPMono';
  src: url('assets/PPSupplyMono-Regular.otf') format('opentype'); /* Relative path to your font file */
}

.custom-button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'PPMono';
  font-size: 10px;
  margin: 4px 4px;
  transition-duration: 0.25s;
  cursor: pointer;
  border-radius: 12px;
}

.custom-button:hover {
  background-color: #cccccc; /* Darker shade of green on hover */
  border-color: black;
  border: 5px;
  color: black;
}